html {
    height: 100%;
  }
  body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  /* background: linear-gradient(#141e30, #243b55); */
}

.blog-card-blog {
  margin-top: 30px;
}

.blog-card {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.87);
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.blog-card .blog-card-image {
  height: 60%;
  position: relative;
  overflow: hidden;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -30px;
  border-radius: 6px;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.blog-card .blog-card-image img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  pointer-events: none;
}

.img-a {
  background-color: #222;
}

.blog-card .blog-table {
  padding: 15px 30px;
  height: 120px;
}

.blog-table {
  margin-bottom: 0px;
}

.blog-category {
  position: relative;
  line-height: 0;
  margin: 15px 0;
}

.blog-text-success {
  color: rgb(255, 0, 242) !important;
}

.card-price {
  font-family: sans-serif !important;
  color: #000;
  margin-left: 5vw;
  font-size: 1rem;
}

.blog-card-blog .blog-card-caption {
  margin-top: 5px;
  font-family: sans-serif;
  height: 43px;
}

.blog-card-caption {
  font-weight: 700;
  font-family: "Roboto Slab", "Times New Roman", serif;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.blog-card-caption,
.blog-card-caption a {
  color: #333;
  text-decoration: none;
}

.blog-card-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2; 
  -webkit-box-orient: vertical;
}

p {
  color: #3C4857;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.blog-card .ftr {
  margin-top: 15px;
  justify-content: space-between;
  display: flex;
}

.blog-card .ftr .author {
  color: #888;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.blog-card .ftr div {
  display: inline-block;
}

.blog-card .author .avatar {
  width: 25px;
  height: 25px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 10px;
}

.blog-card .ftr .stats {
  position: relative;
  top: 1px;
  font-size: 14px;
}

.blog-card .ftr .stats {
  float: right;
  line-height: 30px;
}

.card-div {
  width: 400px;
  padding: 30px;
}

.cards-div {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
}

.title-formation {
  font-size: 1.2rem;
}

   .rate i, .rate i:hover ~ i {
    color: #222;
    text-shadow: none;
    transition: color 200ms,
    text-shadow 200ms;
    transition-delay: 0;
  }
  
  .rate:hover i {
    color: #fc0;
    text-shadow: #fc0 0 0 20px;
  }
  
  .rate:hover i:nth-child(2) {
    transition-delay: 30ms;
  }
  
  .rate:hover i:nth-child(3) {
    transition-delay: 60ms;
  }
  
  .rate:hover i:nth-child(4) {
    transition-delay: 90ms;
  }
  
  .rate:hover i:nth-child(5) {
    transition-delay: 120ms;
  }

  .rate i {
    cursor: pointer;
    font-style: normal;
    font-size: 20px;
    color: #fc0;
    text-shadow: #fc0 0 0 20px;
  }